i {
    cursor: pointer;
}

/***********alert style ***********/

.swal-modal{
	border-radius: 1px;
}

.swal-overlay{
	background-color: rgba(175, 175, 175, 0.7)
}

.swal-button {
  border-radius: 1px;
  background-color: white;
    color:#142c59;
}

.swal-button:hover{
 background-color: #142c59;
 color:white;
}

.h{
    position: relative;
    z-index: 10;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-word;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    height:140px;
    background-image: url('../images/left.jpeg');
    background-size: 100%;
}

.mesg{
     margin-top:-60px;
     font-size: 6px;
     opacity: 0;
     margin-bottom: 2px;
     color: #4c5b7a;
}

.mesg2{
    margin-top:-60px;
    font-size: 6px;
    animation-name: myAnimation;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    opacity: 1;
    margin-bottom: 2px;
    color: #4c5b7a;
}

@keyframes myAnimation{
    0%{
        opacity: 1;
    }
    70%{
        opacity: 0.8;

    }
    100%{
        opacity: 0;
    }
}

/***********global style***************/
body{
    background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1539139558584&di=b3210026d00d7927b8ebda8a1b04b472&imgtype=0&src=http%3A%2F%2Fwww.pptbz.com%2Fd%2Ffile%2Fp%2F201708%2F5439b1c2056b0a11413238a7e8580af6.png");
    margin:0px;
}

*{
    font-family: 'Raleway', sans-serif;
}

#section{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}

/***********header style ********/
header {
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: center;
    z-index: 1000;
    height: 50px;
    opacity: 0.8;
}

/***********tags container style *************/
.container{
    position: relative;
    float: left;
    width:300px;
    height: 420px;
    background-color:white;
    border-radius: 8px;
    border:1px;
    overflow: hidden;
    margin: 20px 50px 30px;
    -moz-box-shadow:0px 4px 15px #C2C2C2;
    -webkit-box-shadow:0px 4px 15px #C2C2C2;
    box-shadow:0px 4px 15px #C2C2C2;
}

.tag-container{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

/***********button style************/
.nav-btn{
    margin-left:800px;
}

.btn{
    background: transparent;
    border:0px;
}

.delete-btn{
    z-index: 1;
    top: 28px;
    font-size: 13px;
    color: #152f5a;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-right: 0px;
}

.edit-btn{
    z-index: 1;
    top: 28px;
    margin-left: 200px;
    font-size: 13px;
    color: #152f5a;
    text-decoration: none;
    padding-right: 0px;
    margin-top: 5px;
    margin-right: 0px;
}

.update-btn{
    opacity: 0;
}

.save-btn{
    color: #152f5a;
    margin-left: 5px;
    opacity: 1;
    border-radius: 5px;
}

.save-btn:hover{
    background-color: rgba(20, 44, 89, 0.65);
    color:white;
}

.home-btn{
    color: #152f5a;
    font-size:15px;
}

.tag_id {
    font-size: 2px;
}

#user-head {
    border-radius: 50%;
    width: 20px;
}

.head-btn{
    background:transparent;
    font: 16px Montserrat;
    color:black;
    border: none;
    height: 40px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    margin-right: 0px;
    padding-right: 0px;
}

#Welcome{
    font: 16px Montserrat;
    color: black;
    font-weight: bold;
    margin-top: -30px;
    padding-top: -30px;
}

/***********style of the bubbles************/

hr.style-one {
    border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #7e8aa2, #93a2bc, #ccc);
    background-image: -moz-linear-gradient(left, #333, #ccc, #ccc);
    background-image: -ms-linear-gradient(left, #333, #ccc, #ccc);
    background-image: -o-linear-gradient(left, #333, #ccc, #ccc);
}

.hr-style {
    margin: 0 auto;
    width: 1100px;
}

.bg-bubbles {
    margin-top: 0;
}

.my-post {
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

